.header {
    text-align: center;
    padding: 60px;
    text-align: center;
    background: #2aa282;
    color: rgb(18, 20, 18);
    font-size: 30px;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    background-color: beige;
    padding-top: 10px;
  }